<form>
    <input type="file" ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="image" accept="image/*,application/pdf" ngf-max-size="20MB" />
    <br>
    <md-input-container>
        <label>Language</label>
        <md-select ng-model="$ctrl.lang" required>
            <md-option ng-repeat="lang in $ctrl.langs" ng-value="lang">
                {{lang.view}}
            </md-option>
        </md-select>
    </md-input-container>
    <audio src="./../../test1.mp3" controls></audio>
    <audio src="./../../public/voice/1565448213497_id1565448130778.mp3" controls></audio>
    <md-card-actions layout="row" layout-align="start center">
        <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.submit()">upload</md-button>
    </md-card-actions>
    <md-card-actions layout="row" layout-align="center center" ng-if="$ctrl.ocrResult">
        <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.getVoice('helloworld')">getVoice</md-button>
        <audio src={{$ctrl.voiceSrc}} controls class="link" loop></audio>
    </md-card-actions>
    <p>{{$ctrl.progress}}</p>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-if="$ctrl.progressCircular"></md-progress-circular>
    </div>
    <div ng-if="$ctrl.ocrResult"> RESULT
        <md-content flex layout-padding>
            <p>{{$ctrl.ocrResult}}</p>
        </md-content>
    </div>
</form>